{% extends 'graph/base.html' %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="/graph/{{graph_id}}/{{node_id}}/add_node/" method="post">
{% csrf_token %}
<label>Add Node</label><br/><br/>
<label>Name :- </label>
<input type="text" name="name"/><br/><br/>
<input type="submit" value="Save" />
</form>
{% endblock %}