{% extends 'graph/base.html' %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="/graph/add_graph/" method="post">
{% csrf_token %}
<label>Add Graph</label><br/><br/>
<label>Name :- </label>
<input type="text" name="name"/><br/><br/>
<input type="submit" value="Save" />
</form>
{% endblock %}