{% load staticfiles %}
<html>
    <head>
        <title>GraphApp</title>
    </head>

    <body>
        <div class="page-header">
            <h1>GraphApp</h1>
        </div>
	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
	            {% block content %}
	            {% endblock %}
	            </div>
	        </div>
	    </div>    
	</body>
</html>    