{% extends 'graph/base.html' %}
{% block content %}
<div>
	<a href='/graph/show_add_graph'>
		+ Add Graph
	</a>
</div>
<div>
	<ul>
	{% for graph in graphs %}
		<li> <a href="/graph/show_graph/{{graph.id}}"> {{graph.name}} </a>
	{% endfor %}
	</ul>
</div>

{% endblock %}