{% extends 'graph/base.html' %}
{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
      google.charts.load('current', {packages:["orgchart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Parent');
        data.addColumn('string', 'ToolTip');
        data.addRows([
          {% for node in nodes %}
          	[{v:'{{node.name}}',f:"<div><a href='/graph/{{graph.id}}/{{node.id}}/show_add_node/'>{{node.name}}</a></div>"},'{% if node.parent %}{{node.parent_name}}{% endif %}',''],
          {% endfor %}
        ]);

        // Create the chart.
        var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
        // Draw the chart, setting the allowHtml option to true for the tooltips.
        chart.draw(data, {allowHtml:true});
      }
</script>
<div>
	<a href="/graph/list/">
		Back to Graph List
	</a>
</div>
<div id="chart_div"></div> 

{% endblock %}